// font family
$font-barlow: "Barlow", sans-serif;
$font-fraunces: "Fraunces", sans-serif;

// colors
$color-white: #ffffff;
$color-secondary: #5b636d;
$color-gray: #808397;
$color-primary: #24303e;
$color-blue: #2c7566;
$color-green: #458d7e;

// font-size
$font-sm: 1.6rem;
$font-md: 1.8rem;
$font-lg: 4rem;
