// respond nav
.respond {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  &__list {
    background-color: $color-white;
    padding-top: 6.3rem;
    padding-bottom: 3.9rem;
    // @include size($mw: 500px);
    @include flex($align: center, $direction: column, $gap: 3.2rem);
  }
  &__link {
    font-size: 2rem;
    line-height: 1.25;
    color: $color-gray;
  }
  &__btn {
    background-color: #fbd600 !important;
  }
}
.header {
  background-image: url("../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  @include respond(sm) {
    height: 80vh;
  }
  &__container {
    text-align: center;
  }
  &__head {
    margin-top: 3.4rem;
    padding-top: 1.2rem;
    padding-bottom: 1.1rem;
    margin-bottom: 10.5rem;
    @include flex($justify: space-between, $align: center);
    @include respond(800px) {
      margin-bottom: 8.8rem;
      padding: 0;
    }
  }
  &__logo-img {
    @include respond(sm) {
      width: 100%;
      max-width: 123px;
      height: 24px;
    }
  }
  &__menu {
    display: none;
    cursor: pointer;
    &:active {
      opacity: 0.6;
    }
    @include respond(800px) {
      display: block;
    }
  }
  &__btn {
    padding: 1.6rem 3rem 1.5rem 3.2rem;
    color: $color-primary;
    background-color: $color-white;
    border-radius: 2.8rem;
    font-size: 1.5rem;
    font-family: $font-fraunces;
    font-weight: 700;
    line-height: 1.66;
    transition: 0.3s;
    &:hover {
      color: $color-white;
      background-color: rgba(255, 255, 255, 0.2537);
    }
  }
  &__title {
    font-size: 5.6rem;
    font-family: $font-fraunces;
    font-weight: 900;
    letter-spacing: 0.875rem;
    color: $color-white;
    margin-bottom: 9.6rem;
    @include respond(sm) {
      font-size: $font-lg;
      margin-bottom: 5.2rem;
    }
  }
  .header__arrow {
    margin-left: auto;
    margin-right: auto;
  }
}

.sitenav {
  @include flex($align: center, $gap: 4.7rem);
  @include respond(800px) {
    display: none;
  }
  &__list {
    @include flex($gap: 4.7rem);
  }
  &__link {
    font-size: $font-md;
    color: $color-white;
  }
}
